footer {
  background: $lightBackground;
  p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $accent;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    a {
      color: $accent;
    }
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
}