header {
  background: $lightBackground;
}

h1 {
  font-weight: 700;
  font-style: italic;
  text-align: center;
  font-size: 2.8rem;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $accent;
}