main {
  background: $accent;
  color: $white;
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: right;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 0;
  text-align: left;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.page2 {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 20px 0px;
  transition: 0.3s;
  display: inline-block;
  &:hover,
  &:focus {
    background: lighten($accent, 10%);
  }
  &:active {
    background: $black;
  }
  i {
    color: $white;
    font-size: 3rem;
  }
}

// Link to return to main page
.link {
  display: block;
  color: $white;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  position: relative;
  font-weight: 700;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  span {
    position: absolute;
    transition: 0.4s;
    left: 85px;
  }
  &:hover,
  &:focus {
    span {
      transform: translateX(-0.4em);
    }
  }
}

// Search input
.movieTitle {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  max-width: 335px;
  margin: 0 auto;
  li {
    margin-bottom: 40px;
  }
}

.movie {
  padding: 10px;
  background: $white;
  color: $accent;
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  position: relative;
  text-align: left;
  h3 {
    text-align: center;
    color: $accent2;
  }
  .imgContainer {
    padding: 10px;
    background: $lightBackground;
  }
  .movieText {
    background: $lightBackground;
    padding: 10px;
    width: 100%;
  }
  .info {
    text-decoration: underline;
    font-weight: 700;
  }
  .voteButton {
    background: transparent;
    border-radius: 50%;
    color: $accent2;
    font-size: 3.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .voteButton:hover,
  .voteButton:focus,
  .voteButton:disabled {
    color: $accent;
  }
  .voteButton:disabled {
    cursor: no-drop;
  }
  .fa-heart {
    position: relative;
    font-size: 5rem;
    .voteCount {
      position: absolute;
      color: $white;
      left: 30%;
      top: 25%;
      font-size: 2rem;
      text-align: center;
    }
  }
}

// Fade nominate button when disabled
.disabled,
.disabled:hover,
.disabled:focus,
.disabled:active {
  background: lighten($grey, 50%);
  cursor: default;
}

// Page 2 title
.awardNominees {
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid $white;
  padding: 5px;
  max-width: 330px;
  margin: 0 auto;
  margin-bottom: 50px;
}