main {
  background: $accent;
  color: $white;
  padding-top: 20px;
  padding-bottom: 150px;
  text-align: right;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 0;
  text-align: left;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.page2 {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  transition: 0.3s;
  display: inline-block;
  &:hover,
  &:focus {
    background: lighten($accent, 10%);
  }
  &:active {
    background: $black;
  }
  i {
    color: $white;
    font-size: 3rem;
  }
}

.link,
.link2 {
  display: block;
  color: $white;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  position: relative;
  font-weight: 700;
  span {
    position: absolute;
    transition: 0.4s;
  }
}

.link {
  margin-top: 50px;
  margin-bottom: 50px;
    span {
      padding-left: 8px;
    }
}
.link:hover,
.link:focus {
  span {
    transform: translateX(0.4em);
  }
}

.link2 {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
    span {
      left: 85px;
    }
}
.link2:hover,
.link2:focus {
  span {
    transform: translateX(-0.4em);
  }
}

// Search input
.movieTitle {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px 20px;
}

.movie {
  padding: 10px;
  background: $white;
  color: $accent;
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  position: relative;
  text-align: left;
  h3 {
    text-align: center;
    color: $accent2;
  }
  .imgContainer {
    padding: 10px;
    background: $lightBackground;
  }
  .movieText {
    background: $lightBackground;
    padding: 10px;
    width: 100%;
  }
  .info {
    text-decoration: underline;
    font-weight: 700;
  }
  .voteButton {
    background: transparent;
    border-radius: 50%;
    color: $accent2;
    font-size: 3.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .voteButton:hover,
  .voteButton:focus {
    color: $accent;
  }
  .fa-heart {
    position: relative;
    font-size: 5rem;
    .voteCount {
      position: absolute;
      color: $white;
      left: 30%;
      top: 25%;
      font-size: 2rem;
      text-align: center;
    }
  }
}

// Fade nominate button when disabled
.disabled,
.disabled:hover,
.disabled:focus,
.disabled:active {
  background: lighten($grey, 50%);
  cursor: default;
}

// Center the "save nominations" button and add flashing animation
.saveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    background: $white;
    font-size: 1.5rem;
    font-weight: 700;
    animation: flashing 4000ms infinite;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  button:hover,
  button:focus {
  cursor: pointer;
  background: $white;
  }
  button:active {
    background: $white;
  }
  @keyframes flashing {
    0% {
      color: lighten($accent, 10%);
      box-shadow: 2px 5px $black;
    }
    50% {
      color: lighten($accent, 30%);
      box-shadow: 5px 10px $black;
    }
    100% {
      color: lighten($accent, 10%);
      box-shadow: 2px 5px $black;
    }
  }
}

// Page title
.awardNominees {
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid $white;
  padding: 5px;
  max-width: 330px;
  margin: 0 auto;
  margin-bottom: 50px;
}