@media(min-width: 370px) {
  ul {
  grid-template-columns: repeat(auto-fill, 335px);
}
}

@media(min-width: 1000px) {
  .filmButton {
    margin-right: 250px;
  }

  .modal {
    width: 500px;
    li {
      font-size: 1.5rem;
    }
  }
}