main {
  background: $accent;
  color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 0;
}

.link {
  display: block;
  color: $white;
  font-size: 1.5rem;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  font-weight: 700;
    span {
      position: absolute;
      padding-left: 8px;
      transition: 0.4s;
    }
}
.link:hover,
.link:focus {
  span {
    transform: translateX(0.4em);
  }
}

.link2 {
  display: block;
  max-width: 300px;
  color: $white;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  font-weight: 700;
    span {
      position: absolute;
      left: 85px;
      transition: 0.4s;
    }
}
.link2:hover,
.link2:focus {
  span {
    transform: translateX(-0.4em);
  }
}

.movieTitle {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  gap: 20px 20px;
}

.movie {
  padding: 10px;
  background: white;
  color: $accent;
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    text-align: center;
    color: $grey;
    text-decoration: underline;
    color: $accent2;
  }
  .imgContainer {
    padding: 10px;
    background: $lightBackground;
  }
  .movieText {
    background: $lightBackground;
    padding: 10px;
  }
  .info {
    text-decoration: underline;
    font-weight: 700;
  }
}

.saveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    background: $white;
    font-size: 1.5rem;
    font-weight: 700;
    animation: flashing 2000ms infinite;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  button:hover,
  button:focus {
  cursor: pointer;
  background: $white;
  }
  button:active {
    background: $white;
  }
  @keyframes flashing {
    0% {
      color: lighten($accent, 10%);
      box-shadow: 2px 5px $black;
    }
    50% {
      color: lighten($accent, 30%);
      box-shadow: 5px 10px $black;
    }
    100% {
      color: lighten($accent, 10%);
      box-shadow: 2px 5px $black;
    }
  }
}

.awardNominees {
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid $white;
  padding: 5px;
  max-width: 330px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.maximum {
  color: $accent2;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
}