main {
  background: $accent;
  color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 0;
}

.link {
  display: block;
  color: $white;
  font-size: 1.5rem;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  font-weight: 700;
    span {
      position: absolute;
      padding-left: 8px;
      transition: 0.4s;
    }
}
.link:hover,
.link:focus {
  span {
    transform: translateX(0.4em);
  }
}

.movieTitle {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}