main {
  background: $accent;
  color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 0;
}

.link {
  display: block;
  color: $white;
  font-size: 1.5rem;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  font-weight: 700;
    span {
      position: absolute;
      padding-left: 8px;
      transition: 0.4s;
    }
}
.link:hover,
.link:focus {
  span {
    transform: translateX(0.4em);
  }
}

.link2 {
  display: block;
  color: $white;
  font-size: 1.5rem;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  font-weight: 700;
    span {
      position: absolute;
      left: 85px;
      transition: 0.4s;
    }
}
.link2:hover,
.link2:focus {
  span {
    transform: translateX(-0.4em);
  }
}

.movieTitle {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.movie {
  padding: 10px;
  background: white;
  color: $accent;
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    text-align: center;
    color: $grey;
    text-decoration: underline;
  }
  .imgContainer {
    padding: 10px;
    max-width: 270px;
    background: $lightBackground;
  }
  .movieText {
    background: $lightBackground;
    padding: 10px;
  }
  .info {
    text-decoration: underline;
    font-weight: 700;
  }
  .nominate {
    background: $accent;
    color: $white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    transition: 0.3s;
  }
  .nominate:hover,
  .nominate:focus {
    cursor: pointer;
    background: lighten($accent, 10%);
  }
  .nominate:active {
    background: $black;
  }
}